<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class='body'>
      <div class='container'>
        <% if user_signed_in? %>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :word, placeholder: "検索ワードを入力" %>
          <%= f.select :genre, [["user", "user"], ["book", "book"]] %>
          <%= f.select :direction, [["完全一致","完全一致"], ["前方一致", "前方一致"], ["後方一致", "後方一致"], ["部分一致","部分一致"]] %>
          <%= f.submit "検索" %>
          <% end %>
        <% end %>
        <p id="notice"><%= notice %></p>

        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
